html
  block vars
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    - var title = title || "My Website"
    title #{title}

    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato')

  - var bodyClass = bodyClass || ""
  body(class=bodyClass)
    block content
    block beforeScripts
    script(src="/js/all.js")
    block afterScripts
